{% extends "skeleton.html" %} {% load static %}

{% block title %} The Cims {% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    
    <div class="w-50 mx-auto text-center my-3 p-3 border border-3 border-dark">
        <h3>FORM BUAT MATA</h3>
        <hr>
        <hr>
        <form method="POST" action="/koleksi/create_new_koleksi_mata/">
            {% csrf_token %}
            <div class="mb-3 d-flex justify-content-center">
                <label for="newId" class="form-label px-3">Id: </label>
                <input type="text" class="form-control w-75 h-25" disabled name="new_id"
                    id="newId" required placeholder="Enter new Id" />
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <label for="newHargaJual" class="form-label px-3">Harga Jual: </label>
                <input type="text" class="form-control w-75 h-25" name="new_harga_jual"
                    id="newHargaJual" required placeholder="Enter new Harga Jual" />
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <label for="newWarnaMata" class="form-label px-3">Warna Mata: </label>
                <input type="text" class="form-control w-75 h-25" name="new_warna_mata"
                    id="newWarnaMata" required placeholder="Enter new Warna Mata" />
            </div>
        <button type="submit" class="btn btn-primary">SIMPAN</button>
    </form>
</div>
{% endblock %}