<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">The Cims</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>

                <!-- Tokoh -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Tokoh
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/character">List Tokoh</a></li>
                        <li><a class="dropdown-item" href="/warna_kulit/create/">Buat Warna Kulit</a></li>
                        <li><a class="dropdown-item" href="/warna_kulit/list/">List Warna Kulit</a></li>
                        <li><a class="dropdown-item" href="/level/create/">Buat Level</a></li>
                        <li><a class="dropdown-item" href="/level/list/">List Level</a></li>
                    </ul>
                </li>

                <!-- Pekerjaan -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Pekerjaan
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/job/create/">Buat Pekerjaan</a></li>
                        <li><a class="dropdown-item" href="/job/list/">List Pekerjaan</a></li>
                        <li><a class="dropdown-item" href="/bekerja/list">List Bekerja</a></li>
                    </ul>
                </li>

                <!-- Misi -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Misi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/main-mission/create">Buat Misi Utama</a></li>
                        <li><a class="dropdown-item" href="/main-mission">List Misi Utama</a></li>
                        <li><a class="dropdown-item" href="/main-mission/do-mission">List Menjalankan Misi Utama</a></li>
                    </ul>
                </li>

                <!-- Makan -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Makan
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/foods/create">Buat Makanan</a></li>
                        <li><a class="dropdown-item" href="/foods">List Makanan</a></li>
                        <li><a class="dropdown-item" href="/foods/eat">List Makan</a></li>
                    </ul>
                </li>

                <!-- Koleksi -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Koleksi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/koleksi/create/">Buat Koleksi</a></li>
                        <li><a class="dropdown-item" href="/koleksi/list/">List Koleksi</a></li>
                        <li><a class="dropdown-item" href="/kategori_apparel/create/">Buat Kategori Apparel</a></li>
                        <li><a class="dropdown-item" href="/kategori_apparel/list/">List Kategori Apparel</a></li>
                        <li><a class="dropdown-item" href="/koleksi_tokoh/list/">List Koleksi Tokoh</a></li>
                    </ul>
                </li>

                <!-- Penggunaan -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Penggunaan
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/use_apparel/list/">List Menggunakan Apparel</a></li>
                        <li><a class="dropdown-item" href="/use_item/list/">List Menggunakan Barang</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Logout -->
            <div class="d-flex">
                <a class="link-light" href="/logout" style="text-decoration: none">Logout</a>
            </div>
        </div>
    </div>
</nav>
